footer {
  text-align: center;
  font-size: large;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 15px;
}

a {
  text-decoration: none;
}

.discord {
  margin-left: 5px;
}
