<div class="attributs-block">
  <h1 class="att-block-title">Attributs basiques</h1>
  <div class="stats-block">
    <div class="sub-category">
      <img class="stats-icons" src="assets/img/icons/atqp.png" />
      <span class="stat-title">ATQ P :</span><br />
      <div class="substat">
        <div class="substat-line">
          <span class="substat-title">Atq P base : </span>
          <app-edit-input
            [data]="basicAttr.atq_p.base"
            [dataType]="base"
            (focusOut)="saveValue($event, 'basicAttr', 'atq_p.base')"
          ></app-edit-input>
        </div>
        <div class="substat-line">
          <span class="substat-title">Atq P boost : </span>
          <app-edit-input
            [data]="basicAttr.atq_p.boost"
            [dataType]="boost"
            (focusOut)="saveValue($event, 'basicAttr', 'atq_p.boost')"
          ></app-edit-input>
        </div>
        <div class="substat-line">
          <span class="substat-title">Atq P boost ingame : </span>
          <app-edit-input
            [data]="basicAttr.atq_p.boost2"
            [dataType]="boostingame"
            (focusOut)="saveValue($event, 'basicAttr', 'atq_p.boost2')"
          ></app-edit-input>
        </div>
      </div>
    </div>
    <hr />
    <div class="sub-category">
      <img class="stats-icons" src="assets/img/icons/effetCrit.png" />
      <span class="stat-title">Effet crit P :</span><br />
      <div class="substat">
        <div class="substat-line">
          <span class="substat-title">Effet crit P base : </span>
          <app-edit-input
            [data]="combatAttr.effet_crit.base"
            [dataType]="base"
            [isPercent]="true"
            (focusOut)="saveValue($event, 'combatAttr', 'effet_crit.base')"
          ></app-edit-input>
        </div>
        <div class="substat-line">
          <span class="substat-title">Effet crit P boost ingame : </span>
          <app-edit-input
            [data]="combatAttr.effet_crit.boost"
            [dataType]="boostingame"
            [isPercent]="true"
            (focusOut)="saveValue($event, 'combatAttr', 'effet_crit.boost')"
          ></app-edit-input>
        </div>
      </div>
    </div>
    <hr />
    <div class="sub-category">
      <div class="substat-line single-stat">
        <img class="stats-icons" src="assets/img/icons/penp.png" />
        <span class="stat-title">Penetration P :</span>
        <app-edit-input
          [data]="combatAttr.penetration_p"
          [dataType]="base"
          (focusOut)="saveValue($event, 'combatAttr', 'penetration_p')"
        ></app-edit-input>
      </div>
    </div>
  </div>
</div>
