<div class="container content">
  <h1 class="title">{{ title }}</h1>
  <div class="block-level">
    <h2>
      Niveau
      <app-edit-input
        [data]="characterLvl"
        [dataType]="final"
        [isPercent]="false"
        (focusOut)="setCharacterLvlValue($event)"
      ></app-edit-input>
    </h2>
  </div>

  <h2 class="degats-switcher">
    <span [ngClass]="{ 'switcher-physique': isPhysique }">Physique</span>
    <app-degats-toggle
      (changed)="switchDegats($event)"
      class="degats-toggle"
    ></app-degats-toggle>
    <span [ngClass]="{ 'switcher-cosmic': isCosmic }">Cosmic</span>
  </h2>

  <div class="main">
    <!-- Degats Physique -->
    <app-degats-physique
      *ngIf="isPhysique"
      (updateDegatsPhysique)="updateDegatsPhysique($event)"
    ></app-degats-physique>

    <!-- Defense Physique -->
    <app-defense-physique
      *ngIf="isPhysique"
      [reductionDegats]="reductionDegatsPhysique"
      (updateDefensePhysique)="updateDefensePhysique($event)"
    ></app-defense-physique>

    <!-- Degats Cosmic -->
    <app-degats-cosmic
      *ngIf="isCosmic"
      (updateDegatsCosmic)="updateDegatsCosmic($event)"
    ></app-degats-cosmic>

    <!-- Defense Cosmic -->
    <app-defense-cosmic
      *ngIf="isCosmic"
      [reductionDegats]="reductionDegatsCosmic"
      (updateDefenseCosmic)="updateDefenseCosmic($event)"
    ></app-defense-cosmic>

    <div class="attributs-block">
      <div class="block-level">
        <div class="skill-bloc">
          <h3>
            Skill :
            <app-edit-input
              [data]="skill"
              [dataType]="final"
              [isPercent]="true"
              (focusOut)="setSkillValue($event)"
            ></app-edit-input>
          </h3>
        </div>
      </div>
      <!-- <div class="cosmo-block scroll4">
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'fellina')"
          src="assets/img/fellina.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'chaineHephaistos')"
          src="assets/img/chaine-ephaistos.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'geantRoi')"
          src="assets/img/gerant_roi.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'serpentDeuxCornes')"
          src="assets/img/serpant__deux_cornes.png"
        />
      </div> -->

      <div class="block-level">
        <div class="skill-bloc">
          <h3>
            Dégâts finaux :
            <app-edit-input
              [data]="degatFinaux"
              [dataType]="final"
              [isPercent]="true"
              (focusOut)="setDegatFinaux($event)"
            ></app-edit-input>
          </h3>
        </div>
      </div>

      <div class="block-level">
        <ng-container *ngIf="isPhysique">
          <div class="sub-category">
            <div class="substat-line single-stat">
              <span class="stat-title">Dégâts P finaux sans Crit :</span>
              <span class="substat-value stat-final">{{
                degatsFinauxPhysiqueSansCrit
              }}</span>
            </div>
          </div>
          <hr />
          <div class="sub-category">
            <div class="substat-line single-stat">
              <span class="stat-title">Dégâts P finaux avec Crit :</span>
              <span class="substat-value stat-final">{{
                degatsFinauxPhysiqueAvecCrit
              }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isCosmic">
          <hr />
          <div class="sub-category">
            <div class="substat-line single-stat">
              <span class="stat-title">Dégâts C finaux :</span>
              <span class="substat-value stat-final">{{
                degatsFinauxCosmic
              }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="attributs-block">
      <app-youtube></app-youtube>
    </div>
  </div>

  <!-- <div class="block-level final-result-bloc">
    <ng-container *ngIf="isPhysique">
      <div class="sub-category">
        <div class="substat-line single-stat">
          <span class="stat-title">Dégâts P finaux sans Crit :</span>
          <span class="substat-value stat-final">{{
            degatsFinauxPhysiqueSansCrit
          }}</span>
        </div>
      </div>
      <hr />
      <div class="sub-category">
        <div class="substat-line single-stat">
          <span class="stat-title">Dégâts P finaux avec Crit :</span>
          <span class="substat-value stat-final">{{
            degatsFinauxPhysiqueAvecCrit
          }}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isCosmic">
      <hr />
      <div class="sub-category">
        <div class="substat-line single-stat">
          <span class="stat-title">Dégâts C finaux :</span>
          <span class="substat-value stat-final">{{ degatsFinauxCosmic }}</span>
        </div>
      </div>
    </ng-container>
  </div> -->
</div>

<app-footer></app-footer>
