<div class="container h-100">
  <h1 class="title">{{ title }}</h1>
  <div class="block-level">
    <h2>
      Niveau
      <app-edit-input
        [data]="characterLvl"
        [dataType]="final"
        [isPercent]="false"
        (focusOut)="setCharacterLvlValue($event)"
      ></app-edit-input>
    </h2>
  </div>

  <div class="main">
    <div class="attributs-block">
      <h1 class="att-block-title">Attributs basiques</h1>
      <div class="stats-block">
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/atqc.png" />
          <span class="stat-title">ATQ C :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">Atq C base : </span>
              <app-edit-input
                [data]="basicAttr.atq_c.base"
                [dataType]="base"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_c.base')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Atq C boost : </span>
              <app-edit-input
                [data]="basicAttr.atq_c.boost"
                [dataType]="boost"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_c.boost')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Atq C boost ingame : </span>
              <app-edit-input
                [data]="basicAttr.atq_c.boost2"
                [dataType]="boostingame"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_c.boost2')"
              ></app-edit-input>
            </div>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/atqp.png" />
          <span class="stat-title">ATQ P :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">Atq P base : </span>
              <app-edit-input
                [data]="basicAttr.atq_p.base"
                [dataType]="base"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_p.base')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Atq P boost : </span>
              <app-edit-input
                [data]="basicAttr.atq_p.boost"
                [dataType]="boost"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_p.boost')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Atq P boost ingame : </span>
              <app-edit-input
                [data]="basicAttr.atq_p.boost2"
                [dataType]="boostingame"
                (focusOut)="saveValue($event, 'basicAttr', 'atq_p.boost2')"
              ></app-edit-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="attributs-block">
      <h1 class="att-block-title">Attributs basiques adversaire</h1>
      <div class="stats-block">
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/defc.png" />
          <span class="stat-title">Def C :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">Def C base : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_c.base"
                [dataType]="base"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_c.base')
                "
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Def C boost : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_c.boost"
                [dataType]="boost"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_c.boost')
                "
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Def C boost ingame : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_c.boost2"
                [dataType]="boostingame"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_c.boost2')
                "
              ></app-edit-input>
            </div>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/defp.png" />
          <span class="stat-title">Def P :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">Def P base : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_p.base"
                [dataType]="base"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_p.base')
                "
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Def P boost : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_p.boost"
                [dataType]="boost"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_p.boost')
                "
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Def P boost ingame : </span>
              <app-edit-input
                [data]="basicAttrOpponent.def_p.boost2"
                [dataType]="boostingame"
                (focusOut)="
                  saveValue($event, 'basicAttrOpponent', 'def_p.boost2')
                "
              ></app-edit-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="attributs-block">
      <h1 class="att-block-title">Attributs de combat</h1>
      <div class="stats-block">
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/degc.png" />
          <span class="stat-title">DÉG C :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">DÉG C base : </span>
              <app-edit-input
                [data]="combatAttr.deg_c.base"
                [dataType]="base"
                [isPercent]="true"
                (focusOut)="saveValue($event, 'combatAttr', 'deg_c.base')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">DÉG C boost ingame : </span>
              <app-edit-input
                [data]="combatAttr.deg_c.boost"
                [dataType]="boostingame"
                [isPercent]="true"
                (focusOut)="saveValue($event, 'combatAttr', 'deg_c.boost')"
              ></app-edit-input>
            </div>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <img class="stats-icons" src="assets/img/icons/effetCrit.png" />
          <span class="stat-title">Effet crit P :</span><br />
          <div class="substat">
            <div class="substat-line">
              <span class="substat-title">Effet crit P base : </span>
              <app-edit-input
                [data]="combatAttr.effet_crit.base"
                [dataType]="base"
                [isPercent]="true"
                (focusOut)="saveValue($event, 'combatAttr', 'effet_crit.base')"
              ></app-edit-input>
            </div>
            <div class="substat-line">
              <span class="substat-title">Effet crit P boost ingame : </span>
              <app-edit-input
                [data]="combatAttr.effet_crit.boost"
                [dataType]="boostingame"
                [isPercent]="true"
                (focusOut)="saveValue($event, 'combatAttr', 'effet_crit.boost')"
              ></app-edit-input>
            </div>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <div class="substat-line single-stat">
            <img class="stats-icons" src="assets/img/icons/penc.png" />
            <span class="stat-title">Penetration C :</span>
            <app-edit-input
              [data]="combatAttr.penetration_c"
              [dataType]="base"
              (focusOut)="saveValue($event, 'combatAttr', 'penetration_c')"
            ></app-edit-input>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <div class="substat-line single-stat">
            <img class="stats-icons" src="assets/img/icons/penp.png" />
            <span class="stat-title">Penetration P :</span>
            <app-edit-input
              [data]="combatAttr.penetration_p"
              [dataType]="base"
              (focusOut)="saveValue($event, 'combatAttr', 'penetration_p')"
            ></app-edit-input>
          </div>
        </div>
      </div>
      <div class="block-level">
        <div class="skill-bloc">
          <h3>
            Skill :
            <app-edit-input
              [data]="skill"
              [dataType]="final"
              [isPercent]="true"
              (focusOut)="setSkillValue($event)"
            ></app-edit-input>
          </h3>
        </div>
      </div>
      <div class="cosmo-block scroll4">
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'fellina')"
          src="assets/img/fellina.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'chaineHephaistos')"
          src="assets/img/chaine-ephaistos.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'geantRoi')"
          src="assets/img/gerant_roi.png"
        />
        <img
          class="img-cosmo"
          (click)="selectCosmo($event, 'serpentDeuxCornes')"
          src="assets/img/serpant__deux_cornes.png"
        />
      </div>
    </div>

    <div class="attributs-block">
      <h1 class="att-block-title">Attributs de combat adversaire</h1>
      <div class="stats-block">
        <div class="sub-category">
          <div class="substat-line single-stat">
            <img class="stats-icons" src="assets/img/icons/pCritRes.png" />
            <span class="stat-title">P crit Res :</span>
            <app-edit-input
              [data]="combatAttrOpponent.p_crit_res"
              [dataType]="base"
              [isPercent]="true"
              (focusOut)="saveValue($event, 'combatAttrOpponent', 'p_crit_res')"
            ></app-edit-input>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <div class="substat-line single-stat">
            <img class="stats-icons" src="assets/img/icons/resDegP.png" />
            <span class="stat-title">Res DÉG P :</span>
            <app-edit-input
              [data]="combatAttrOpponent.res_deg_p"
              [dataType]="base"
              [isPercent]="true"
              (focusOut)="saveValue($event, 'combatAttrOpponent', 'res_deg_p')"
            ></app-edit-input>
          </div>
        </div>
        <hr />
        <div class="sub-category">
          <div class="substat-line single-stat">
            <img class="stats-icons" src="assets/img/icons/resDegC.png" />
            <span class="stat-title">Res DÉG C :</span>
            <app-edit-input
              [data]="combatAttrOpponent.rest_deg_c"
              [dataType]="base"
              [isPercent]="true"
              (focusOut)="saveValue($event, 'combatAttrOpponent', 'rest_deg_c')"
            ></app-edit-input>
          </div>
        </div>
      </div>
      <div class="youtube-block">
        <youtube-player
          [videoId]="tackerVideo"
          [width]="470"
          [height]="355"
        ></youtube-player>
      </div>
    </div>
  </div>

  <div class="block-level final-result-bloc">
    <div class="sub-category">
      <div class="substat-line single-stat">
        <span class="stat-title">Dégâts C finaux :</span>
        <span class="substat-value stat-final">{{ degatsFinauxCosmic }}</span>
      </div>
    </div>
    <hr />
    <div class="sub-category">
      <div class="substat-line single-stat">
        <span class="stat-title">Dégâts P finaux sans Crit :</span>
        <span class="substat-value stat-final">{{
          degatsFinauxPhysiqueSansCrit
        }}</span>
      </div>
    </div>
    <hr />
    <div class="sub-category">
      <div class="substat-line single-stat">
        <span class="stat-title">Dégâts P finaux avec Crit :</span>
        <span class="substat-value stat-final">{{
          degatsFinauxPhysiqueAvecCrit
        }}</span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
