/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: "PT Sans";
  background-color: #d4daf4;
}

// #wrapper {
//   padding: 50px 0;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.title {
  padding-top: 15px;
  text-align: center;
  font-weight: bolder;
}

.degats-switcher {
  margin-top: 25px;
  text-align: center;
}

.block-level {
  margin-top: 25px;
  background: #b6c0d9;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3) inset;

  h2 {
    text-align: center;
    color: #68718e;
    font-style: italic;

    span {
      text-emphasis: none;
      font-weight: bold;
      font-size: larger;
      color: #323b5f;
    }
  }

  .skill-bloc {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: #68718e;
      font-style: italic;
      padding-top: 8px;

      span {
        text-emphasis: none;
        font-weight: bold;
        font-size: larger;
        color: #323b5f;
      }
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.attributs-block {
  margin-top: 25px;
  padding: 0 15px 0 15px;
  width: 500px;

  .att-block-title {
    color: #343d5c;
    font-size: x-large;
  }

  .stats-block {
    margin-top: 15px;
    background: #747a9c;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3) inset;
  }
}

.sub-category {
  padding: 5px 0 5px 10px;

  .stat-title {
    color: #fff;
    font-size: 18px;
  }

  .substat {
    width: 250px;
    margin: 0 auto;
    .substat-title {
      color: #fff;
    }
    .substat-value {
      font-weight: bolder;
    }
  }
}

.substat-line {
  display: flex;
  justify-content: space-between;
}

.single-stat {
  width: 350px;
  margin: 0 auto;
}

hr {
  margin: 5px 0 5px 0;
}

.basic-stat {
  color: #c8e2fa;
  text-shadow: 2px 0 0 #73818f, -2px 0 0 #73818f, 0 2px 0 #73818f,
    0 -2px 0 #73818f, 1px 1px #73818f, -1px -1px 0 #73818f, 1px -1px 0 #73818f,
    -1px 1px 0 #73818f;
}
.boost-stat {
  color: #d8c196;
  text-shadow: 2px 0 0 #8a7c61, -2px 0 0 #8a7c61, 0 2px 0 #8a7c61,
    0 -2px 0 #8a7c61, 1px 1px #8a7c61, -1px -1px 0 #8a7c61, 1px -1px 0 #8a7c61,
    -1px 1px 0 #8a7c61;
}
.boost-ingame-stat {
  color: #80c072;
  text-shadow: 2px 0 0 #43613c, -2px 0 0 #43613c, 0 2px 0 #43613c,
    0 -2px 0 #43613c, 1px 1px #43613c, -1px -1px 0 #43613c, 1px -1px 0 #43613c,
    -1px 1px 0 #43613c;
}

.img-cosmo {
  padding-right: 10px;
  padding-left: 10px;
  filter: grayscale(100%);
}

.img-cosmo:hover {
  filter: none;
  cursor: pointer;
}

.stat-final {
  color: #323b5f;
  font-weight: bolder;
}

.img-selected {
  filter: none;
}

.img-deselected {
  filter: grayscale(100%);
}

.final-result-bloc {
  width: 400px;
  margin: 35px auto;
  text-align: center;
}

.stats-icons {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.skill-cosmo-bloc {
  display: flex;
  justify-content: space-around;
}

.youtube-block {
  margin-top: -100px;
}

.cosmo-block {
  margin-top: 25px;
  background: #b6c0d9;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: thin;

  img {
    flex: 0 0 auto;
  }
}

/* Works on Chrome/Edge/Safari */
.scroll4::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background: transparent;
}
.scroll4::-webkit-scrollbar-track {
  background: none;
}
.scroll4::-webkit-scrollbar-thumb {
  background-color: #747a9c;
  border-radius: 20px;
  border: 1px solid #747a9c;
}

.percent-reduction {
  color: #85d786;
  font-weight: bolder;
  margin: 0 5px 0 10px;
}

.title-reduction {
  color: #212529;
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  .attributs-block {
    width: 345px;
  }

  .single-stat {
    width: 80%;
  }

  .youtube-block {
    display: none;
  }

  .final-result-bloc {
    width: 300px;
  }
}
